{% extends 'base.html' %}

{% block title %}
German Bank Credit Risk
{% endblock title %}


{% block custom_css %}
<!-- Custom CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock custom_css %}


{% block body %}
<!-- nav bar -->

<nav class="navbar navbar-expand-lg navbar-light shadow fixed-top" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="/">German Bank Credit Risk</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://github.com/mayurborkar/Credit-Risk-MLOPS">source code</a>
            </li>
        </ul>
    </div>
</nav>
<div>
    <!-- nav bar ends -->

    <div class="container-fluid masthead">
        <br>
        <br>
        <br>
        <br>
        <div class="container">
            <div class="row">
                <div class="col">
                    <form method="POST">
                        <!-- Input block-->
                        <div class="form-group">
                            <label for="translation">
                                <blockquote class="blockquote">
                                    <p class="mb-2">Enter the details as indicated:</p>
                                </blockquote>
                            </label>
                            <textarea class="form-control" name="status" rows="1"
                                placeholder="status expected range 1.0 to 4.0"></textarea>

                            <textarea class="form-control" name="duration" rows="1"
                                placeholder="duration expected range 4.0 to 72.0"></textarea>

                            <textarea class="form-control" name="credit_history" rows="1"
                                placeholder="credit history expected range 0.0 to 4.0"></textarea>

                            <textarea class="form-control" name="purpose" rows="1"
                                placeholder="purpose expected range 0.0 to 10.0"></textarea>

                            <textarea class="form-control" name="amount" rows="1"
                                placeholder="amount expected range 250.0 to 18424.0"></textarea>

                            <textarea class="form-control" name="savings" rows="1"
                                placeholder="savings expected range 1.0 to 5.0"></textarea>

                            <textarea class="form-control" name="employment_duration" rows="1"
                                placeholder="employment duration expected range 1.0 to 5.0"></textarea>

                            <textarea class="form-control" name="installment_rate" rows="1"
                                placeholder="installment rate expected range 1.0 to 4.0"></textarea>

                            <textarea class="form-control" name="personal_status_sex" rows="1"
                                placeholder="personal status sex expected range 1.0 to 4.0"></textarea>

                            <textarea class="form-control" name="present_residence" rows="1"
                                placeholder="present residence expected range 1.0 to 4.0"></textarea>

                            <textarea class="form-control" name="property" rows="1"
                                placeholder="property expected range 1.0 to 4.0"></textarea>

                            <textarea class="form-control" name="age" rows="1"
                                placeholder="age expected range 19.0 to 75.0"></textarea>

                            <textarea class="form-control" name="number_credits" rows="1"
                                placeholder="number credits expected range 1.0 to 4.0"></textarea>

                            <textarea class="form-control" name="telephone" rows="1"
                                placeholder="telephone  expected range 1.0 to 2.0"></textarea>

                        </div>

                        <!-- Select output language here. -->
                        <div class="form-group">
                        </div>
                        <button type="submit" class="btn btn-primary mb-2">Predict</button></br>
                        </br>
                    </form>
                    <!-- Translated text returned by the Translate API is rendered here. -->
                </div>
                <div class="col">
                    <form>
                        <div class="form-group">
                            <label for="translation-result">

                                <blockquote class="blockquote">
                                    <p class="mb-2">Prediction:</p>
                                </blockquote>

                            </label>
                            <textarea readonly class="form-control" id="exTextarea" rows="5">{{ response }}</textarea>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        {% endblock body %}

        {% block custom_js %}
        <!-- Custom JS -->
        <script src="{{ url_for('static', filename='script/index.js') }}"></script>
        {% endblock custom_js %}
